body{     /*this is a comment*/
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-style: normal;
    background-image: url(2.jpg);

}

img{
   margin: 10px;
   border: 2px dashed pink;
   padding:50px;

}


#image1 img {
    margin: 20px;
    border: 20px dotted green;
    padding: 10px;
    position:relative;
    left:50vw;/*1vw is 1% of the width of the viewport*/
    top:10vh;
    z-index:2;
}

#image2 {
    border: 4px solid blue;
    position:fixed;
    top:10vh;
    right:0px;
    opacity:0.7;
    z-index:3;
}

video{
    margin: 30px;
    border: 5px solid violet;
    padding:40px;
}

.media{
    border: 8px dashed red;
}

#processing{
    font-family:'Times New Roman', Times, serif;
    font-size:25px;
    text-align:center;
    color:aliceblue;
    word-spacing:10%;
    letter-spacing:1em;
    line-height:2em;
    padding:10px;
    border:2px solid red;
    margin:200px;
    background-color:rgb(255,3,6,0.1);
    background-image: url(1.jpg);
    background-size:cover;

}

#processing a:hover{
    color:yellow;
}

canvas{
    position: relative;
   
}
